:root {
    --brand-primary-full: hsl(210, 100%, 50%);
    --brand-primary-full-semitransparent: hsla(210, 100%, 50%, 0.5);
    --brand-primary-darkest: hsl(210, 48.9%, 6.25%);
    --brand-primary-darker: hsl(210, 48.9%, 12.5%);
    --brand-primary-dark: hsl(210, 48.9%, 25%);
    --brand-primary-mid: hsl(210, 48.9%, 50%);
    --brand-primary-light: hsl(210, 48.9%, 75%);
    --brand-primary-lighter: hsl(210, 48.9%, 87.5%);
    --brand-primary-lightest: hsl(210, 48.9%, 93.75%);


    --brand-secondary-full: hsl(30, 100%, 50%);
    --brand-secondary-full-semitransparent: hsla(30, 100%, 50%, 0.5);
    --brand-secondary-darkest: hsl(30, 48.9%, 6.25%);
    --brand-secondary-darker: hsl(30, 48.9%, 12.5%);
    --brand-secondary-dark: hsl(30, 48.9%, 25%);
    --brand-secondary-mid: hsl(30, 48.9%, 50%);
    --brand-secondary-light: hsl(30, 48.9%, 75%);
    --brand-secondary-lighter: hsl(30, 48.9%, 87.5%);
    --brand-secondary-lightest: hsl(30, 48.9%, 93.75%);

    --brand-vip-full: hsl(330, 100%, 50%);
    --brand-vip-full-semitransparent: hsla(330, 100%, 50%, 0.5);
    --brand-vip-darkest: hsl(330, 48.9%, 6.25%);
    --brand-vip-darker: hsl(330, 48.9%, 12.5%);
    --brand-vip-dark: hsl(330, 48.9%, 25%);
    --brand-vip-mid: hsl(330, 48.9%, 50%);
    --brand-vip-light: hsl(330, 48.9%, 75%);
    --brand-vip-lighter: hsl(330, 48.9%, 87.5%);
    --brand-vip-lightest: hsl(330, 48.9%, 93.75%);

    --brand-moderation-full: hsl(90, 100%, 50%);
    --brand-moderation-full-semitransparent: hsla(90, 100%, 50%, 0.5);
    --brand-moderation-darkest: hsl(90, 48.9%, 6.25%);
    --brand-moderation-darker: hsl(90, 48.9%, 12.5%);
    --brand-moderation-dark: hsl(90, 48.9%, 25%);
    --brand-moderation-mid: hsl(90, 48.9%, 50%);
    --brand-moderation-light: hsl(90, 48.9%, 75%);
    --brand-moderation-lighter: hsl(90, 48.9%, 87.5%);
    --brand-moderation-lightest: hsl(90, 48.9%, 93.75%);
    
    --brand-porble-full: hsl(272.7, 100%, 50%);
    --brand-porble-full-semitransparent: hsla(272.7, 100%, 50%, 0.5);
    --brand-porble-darkest: hsl(272.7, 48.9%, 6.25%);
    --brand-porble-darker: hsl(272.7, 48.9%, 12.5%);
    --brand-porble-dark: hsl(272.7, 48.9%, 25%);
    --brand-porble-mid: hsl(272.7, 48.9%, 50%);
    --brand-porble-light: hsl(272.7, 48.9%, 75%);
    --brand-porble-lighter: hsl(272.7, 48.9%, 87.5%);
    --brand-porble-lightest: hsl(272.7, 48.9%, 93.75%);

    --brand-porble-se-dark: #24182F;
    --brand-porble-se-mid: #472F5C;
    --brand-porble-se-light: #6A4689;
    --brand-porble-se-lighter: #8D63B0;

    --brand-fonts: "Lemon MILK Pro Regular", Roboto, Arial, Helvetica, sans-serif;
}